<div class="navbar navbar-inverse">
	<button class="btn-toolbar btn-liste"></button>
	<span class="ftp-connect">
		<input type="text" placeholder="Host" class="hote" value="ns61220.ovh.net"/>
		<input type="text" placeholder="Login" class="login" value="planet" />
		<input type="password" placeholder="Password" class="password" value="kN6QkMyz" />
		<input type="text" placeholder="Host" class="port" />
		<input type="button" value="Connect" class="connect"/>
	</span>
	<span class="bloc-toolbar">
		<h4>View</h4>
		<button class="btn-toolbar btn-expl" tooltip="Explorer">Expl</button>
		<button class="btn-toolbar btn-editor" tooltip="Editor">Ed</button>
	</span>
</div>