.icon-binary{ background:  url(../img/application.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-archive{ background:  url(../img/box.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-cfg{ background:  url(../img/config.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-css{ background:  url(../img/css.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-db{ background:  url(../img/db.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-directory{ background:  url(../img/directory.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-doc{ background:  url(../img/doc.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-file{ background:  url(../img/file.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-film{ background:  url(../img/film.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-flash{ background:  url(../img/flash.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-html{ background:  url(../img/html.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-java{ background:  url(../img/java.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-linux{ background:  url(../img/linux.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-music{ background:  url(../img/music.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-pdf{ background:  url(../img/pdf.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-php{ background:  url(../img/php.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-pic{ background:  url(../img/picture.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-ppt{ background:  url(../img/ppt.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-psd{ background:  url(../img/psd) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-ruby{ background:  url(../img/ruby.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-script{ background:  url(../img/script.png) 50% 50% no-repeat; background-size: 16px 16px; }
.icon-xls{ background:  url(../img/xls.png) 50% 50% no-repeat; background-size: 16px 16px; }
