<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="css/styles.css" type="text/css" rel="stylesheet" />
<script data-main="js/main" src="js/libs/require/require.js"></script>
<title>WebFTP</title>
</head>
<body>
	<div id="appli-header">
	</div>
	<div id="appli-content">
	</div>
</body>
</html>